<nav class="navbar navbar-dark bg-dark headerform">
    <span class="navbar-brand mb-0 h1 headerform_titulo">Cadastro de Funcionário</span>
  </nav>
  <form [formGroup]="formulario"  class="form" (ngSubmit)="onSubmit()" >
      <div class="form-row"> 
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="nome">Nome : </label>
          <input minlength="1" pattern="[a-zA-Z ]*" formControlName="nome" name="nome" type="text" class="form-control" id="nome" placeholder="Insira o nome" required >
        </div>
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="cpf">CPF : </label>
          <input type="text" formControlName="cpf" class="form-control" id="cpf" name="cpf"  placeholder="Insira o CPF" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="nascimento"> Data de Nascimento : </label>
          <input type="text" formControlName="nascimento" class="form-control" name="nascimento" id="nascimento" placeholder="Insira a data de nascimento" required >
        </div>
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="sexoCombo"> Sexo : </label>
          <select id="sexoCombo" formControlName="sexoCombo" class="form-control" name="sexoCombo" required>
            <option value="" selected>Escolha o sexo :</option>
            <option>Masculino</option>
            <option>Feminino</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="senha"> Senha : </label>
          <input type="password" formControlName="password" class="form-control" name="password" id="password" placeholder="Insira a senha" required>
        </div>
        <div class="form-group col-xs-6  col-md-6  col-lg-6">
          <label for="senhaC"> Senha Confirmação : </label>
          <input type="password" formControlName="passwordC" class="form-control" name="passwordC" id="passwordC" placeholder="Insira a senha novamente" required >
        </div>
      </div>
      <div class="col-xs-3 offset-xs-9 col-md-3 offset-md-9 col-lg-3 offset-lg-9">
          <button class="btn btn-success" type="submit"> Salvar </button>
          <button class="btn btn-primary" type="reset"> Limpar Campos </button>
      </div>

    </form>   