<nav class="navbar navbar-dark bg-dark headerform">
  <span class="navbar-brand mb-0 h1 headerform_titulo">Consulta de Funcionários</span>
</nav>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button">Buscar</button>
  </div>
  <input type="text" class="form-control" placeholder="Insira alguma informação do funcionario" aria-label="" aria-describedby="basic-addon1">
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">x</th>
      <th scope="col">x</th>
      <th scope="col">x</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Isabel</td>
      <td>cara</td>
      <td>pastel</td>
    </tr>
  </tbody>
</table>