<nav class="navbar navbar-dark bg-dark headerform">
  <span class="navbar-brand mb-0 h1 headerform_titulo">Cadastro de Produto</span>
</nav>
<form [formGroup]="formulario"  class="form" (ngSubmit)="onSubmit()" >
    <div class="form-row">
      <div class="form-group col-xs-6  col-md-6  col-lg-6">
        <label for="codigo">Código de Barras : </label>
        <input [ngClass]="aplicaCssErro('codigoBarras')" minlength="1" type="text" formControlName="codigoBarras" class="form-control" id="codigoBarras" name="codigoBarras" placeholder="Insira o código de barras" required>
      </div>
      <div class="form-group col-xs-6  col-md-6  col-lg-6">
        <label for="nome">Nome : </label>
        <input [ngClass]="aplicaCssErro('nome')" minlength="1" pattern="[a-zA-Z ]*" formControlName="nome" type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xs-12  col-md-12 col-lg-12">
        <label for="marcaAdicionar"> Adicionar marca : </label>
        <input [ngClass]="aplicaCssErro('marcaAdd')" required type="text" class="form-control" formControlName="marcaAdd" id="marcaAdd" name="marcaAdd" placeholder="Insira a marca">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xs-12  col-md-12  col-lg-12">
        <label for="categoriaAdicionar"> Adicionar categoria : </label>
        <input [ngClass]="aplicaCssErro('categoriaAdd')"  required type="text" class="form-control" formControlName="categoriaAdd" id="categoriaAdd" name="categoriaAdd" placeholder="Insira a categoria"  >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xs-6  col-md-6  col-lg-6">
        <label for="preco"> Preço : </label>
        <input [ngClass]="aplicaCssErro('preco')" type="number" class="form-control" id="preco" formControlName="preco" name="preco" placeholder="Insira o preço"  required>
      </div>
      <div class="form-group col-xs-6  col-md-6  col-lg-6">
        <label for="qtnComprada"> Quantidade Comprada : </label>
        <input [ngClass]="aplicaCssErro('qtnComprada')" type="number" class="form-control" id="qtnComprada" formControlName="qtnComprada" name="qtnComprada" placeholder="Insira a quantidade comprada" required>
      </div>
    </div>
    <div class="form-group">
        <label for="descricao"> Descrição : </label>
        <textarea [ngClass]="aplicaCssErro('descricao')" class="form-control" id="descricao" name="descricao" formControlName="descricao" placeholder="Insira a descrição" required></textarea>
    </div>
    <div class="col-xs-3 offset-xs-9 col-md-3 offset-md-9 col-lg-3 offset-lg-9">
      <button class="btn btn-success" type="submit"> Salvar </button>
      <button class="btn btn-primary" type="reset"> Limpar Campos </button>
   </div>
   

  </form>