<div class="content-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 menu">
        <ul class="items_menu">
            <li class="item_menu">Cadastrar Produto</li>
            <li class="item_menu">Consultar Produtos</li>
            <li class="item_menu">Estoque</li>
            <li class="item_menu">Cadastrar Funcionário</li>
            <li class="item_menu">Funcionários</li>
            <li class="item_menu">Relatórios de Vendas</li>
            <li class="item_menu">Relatórios de Compras</li>
            <li class="item_menu">Relatórios de Produtos</li>
            <li class="item_menu">Venda</li>
          </ul>
    </div>
  </div>

</div>
